<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	    <appSettings>
        <add key="ReleaseKey" value="6230048272:AAFgizska1abovy17QAQrL9tIzxsfeL1Ad0" />
        <add key="DebugKey" value="5569673223:AAGKNzsHWrNJ_pm8Xf1lTAREF1-fgt_SBG4" />
		<add key="sheetsID" value="1RetDfgB0AXDDOWbEpT_2Z0RPEKvJfCYAaVQYZlFRKOU" />
        </appSettings>
	
</configuration>